[Unit]
Description=Audio hub for internet radio and bluetooth
After=network-online.target camilladsp.service
Requires=network-online.target camilladsp.service


[Service]
Type=simple
User=kosiu
Environment=HOME=/home/kosiu
ExecStart=/home/kosiu/audio_hub/audio_hub.sh

[Install]
WantedBy=multi-user.target

