[Unit]
Description=Audio hub for internet radio and bluetooth
After=bluez-alsa.service

[Service]
Type=simple
User=kosiu
ExecStart=/usr/local/bin/audio_hub.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

