[Unit]
Description=CamillaGUI backend for Audio Hub
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kosiu
Environment=HOME=/home/kosiu
WorkingDirectory=/home/kosiu/camilladsp
ExecStart       =/home/kosiu/camilladsp/camillagui_backend
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
