[Unit]
Description=CamillaDSP engine for Audio Hub
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kosiu
Environment="DIR=/home/kosiu/camilladsp"
WorkingDirectory=/home/kosiu/camilladsp
ExecStart=/home/kosiu/camilladsp/camilladsp -a 127.0.0.1 -p 1234 -s ./statefile.yml -o ./camilladsp.log -l info ./configs/main.yaml
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
